doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 #{title}, Catch 'em all 
        a.cta(href="/update-cobj") Add your favorite pokemon !
        table 
            tr 
                th Pokemon 
                th Name 
                th Type
            each pokemon in records
                tr
                    td 
                        img.card__img(src=`${pokemon.properties.photo}`)
                    td 
                        h2.img__name #{pokemon.properties.name}
                    td 
                        p.img__type #{pokemon.properties.type}

